.timerOptions{
    border-bottom: solid white 4px;
    display: flex;
    justify-content: space-between;
    margin: 4rem 3rem;
    max-width: 800px;
}

.taskTitle{
    margin-top: 2rem;
    background-color: #4b4b4b;
    border:none;
    border-radius: 5px;
    border-bottom: solid 1px black;
    color: white;
    min-width: 400px;
    height: 2rem;
}

.signInMessage{
    color: white;
    margin-top: 1rem;
}